.ctdetails {
    margin: 0.5em 0;
}

.ctdetails-summary {
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.ctdetails-summary::before {
    content: "▸";
    display: inline-block;
    margin-right: 0.2em;
    font-size: 1.8em;
    line-height: 0.6;
    position: relative;
    top: 0.08em;
}

.ctdetails-body {
    margin-top: 0.25em;
}

.ctdetails-body[hidden] {
    display: none;
}

.ctdetails.ctdetails-open .ctdetails-body {
    display: block;
}

.ctdetails.ctdetails-open .ctdetails-summary::before {
    content: "▾";
}

